<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <%= name %>
    <%- name %>

    <ul>
       <% for(let i = 0; i<listItem.length; i ++) { %>
            <li><%= listItem[i] %></li>
       <% } %>
    </ul>


     

    <%= var1 ? var1 : var1 %>


    <%# this is comment %>

    <!-- hello  -->

    <%%= var1 %>

</body>
</html>